@tailwind base;
@tailwind components;
@tailwind utilities;
 @layer base{
    body{
       font-family: 'Roboto', sans-serif;
    }
 }
 .line-clamp-2 {
   overflow: hidden;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* Limiting to 2 lines */
 }